@import 'vars';
@import 'fonts';
@import 'reset';
@import 'libs';
@import 'global';

.header {
    background-image: url("../images/header/header-bg.png");
    background-repeat: no-repeat;
    background-position: top center;
    padding: 25px 0 0;

    &__inner {
        background: linear-gradient(227deg, #162758 0%, #0a142a 100%);
    }

    &__top {
        display: flex;
        align-items: center;
        gap: 70px;
        margin-bottom: 90px;
    }

    &__logo {
        margin-right: auto;
    }

    &__top-btn {
        color: #fff;
        @extend %sf-600;
        font-size: 15px;
        opacity: 0.8;
        padding: 11px 30px;
        background-color: #ac1216;
        border-radius: 10px;
        transition: all .3s;

        &:hover {
            @extend %btn-hover;
            opacity: 1;
        }
    }
}

.nav {
    &__list {
        display: flex;
        gap: 25px;
    }

    &__link {
        color: #fff;
        @extend %sf-600;
        font-size: 17px;
        opacity: 0.8;
        position: relative;
        transition: all .3s;

        &::after {
            content: '';
            position: absolute;
            display: block;
            height: 2px;
            width: 0%;
            left: 0;
            background-color: $button-hover;
            transition: all .3s;
        }

        &:hover {
            opacity: 1;
        }

        &:hover::after {
            width: 100%;
        }
    }
}

.hero {
    &__wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__content {
        max-width: 750px;
        margin-bottom: 130px;
    }

    &__title {
        @extend %sf-900;
        font-size: 80px;
        line-height: 112%;
        color: #fff;
        margin-bottom: 5px;
    }

    &__span {
        color: $red-accent;
    }

    &__caption {
        @extend %sf-500;
        font-size: 25px;
        color: #71768e;
        margin-bottom: 40px;
    }

    &__text {
        @extend %sf-400;
        font-size: 32px;
        color: #a0a3b5;
        margin-bottom: 45px;
    }

    &__links {
        display: flex;
        align-items: center;
        gap: 25px;
        color: #fff;
        margin-bottom: 20px;
    }

    &__link {
        @extend %sf-500;
        color: inherit;
        font-size: 22px;
        opacity: 0.9;
        background-color: #ffffff0d;
        border-radius: 10px;
        transition: all .3s;

        &:hover {
            @extend %btn-hover;
        }
    }

    &__link-join {
        padding: 25px 54px;
        font-size: 25px;
        opacity: 1;
        @extend %sf-700;
        background-color: $red-accent;
    }

    &__link-more {
        padding: 27px 67px 27px 46px;
    }

    &__contact {
        border: 1px solid #ffffff17;
        border-radius: 10px;
        width: 92.5%;
        padding: 14px 35px 14px 30px;
    }

    &__address {
        @extend %sf-500;
        font-size: 15px;
        color: #ffffff33;
    }

    &__address-num {
        font-size: 25px;
        color: #ffffff66;
    }
}

.ticker {
    display: flex;
    height: 38px;
    background-color: #5a4039;
    align-items: center;
    padding: 11px 0;
    overflow: hidden;
    margin-top: 1.2%;

    &__item {
        display: inline-block;
        text-wrap: nowrap;
        white-space: nowrap;
        text-transform: uppercase;
        @extend %sf-600;
        font-size: 13px;
        color: #fff50099;
        padding: 0 7.5px;
        animation: ticker 5s linear infinite both;
    }
}

@keyframes ticker {
    0% {
        transform: translate(0px, 0px);
    }

    50% {
        transform: translate(-100%, 0px);
    }

    100% {
        transform: translate(-200%, 0px);
    }
}

// =============================================================================

.how-wrapper {
    background-image: url("../images/content/how/how-map-bg.png");
    background-repeat: no-repeat;
    background-position: 50% 10%;
}

.how {
    padding: 25px 0 80px;
    background-image: url("../images/content/how/how-bg.png");
    background-repeat: no-repeat;
    background-position: 50% -5vh;

    &__top {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-bottom: 140px;
    }

    &__subtitle {
        font-size: 35px;
        max-width: 550px;
        margin-bottom: 210px;
    }

    &__link {
        @extend %sf-600;
        border-radius: 10px;
        padding: 10px 45px 15px 45px;
        background-color: $red-accent;
        font-size: 22px;
        text-align: center;
        color: #fff;
        max-width: 215px;
        transition: all .3s;

        &:hover {
            @extend %btn-hover;
        }
    }

    &__content {
        padding-top: 140px;
    }

    &__title {
        margin-bottom: 50px;
    }

    &__items {
        display: flex;
        justify-content: center;
        align-items: flex-start;
        gap: 65px;
    }

    &__item {
        border-radius: 20px;
        padding: 73px 35px 40px 40px;
        background-color: #384d70;
    }

    &__img-box {
        position: relative;
        margin-left: 43px;
        margin-bottom: 70px;

        &::after {
            content: '';
            position: absolute;
            top: 50%;
            left: -17px;
            transform: translateY(-50%);
            width: 70px;
            height: 70px;
            border-radius: 10px;
        }

        &::before {
            content: '';
            position: absolute;
            top: 50%;
            left: -43px;
            transform: translateY(-50%);
            border-radius: 20px;
            width: 120px;
            height: 120px;
            opacity: 0.1;
        }

        &--red::after {
            background-color: $red-accent;
        }

        &--red::before {
            background: #ea0b1e;
        }

        &--yellow::after,
        &--yellow::before {
            background-color: #ff9429;
        }

        &--blue::after,
        &--blue::before {
            background-color: #0096f2;
        }
    }

    &__icon {
        width: 35px;
        height: 35px;
        position: relative;
        z-index: 5;
    }

    &__items-text {
        max-width: 416px;
    }

    &__item-title {
        @extend %sf-600;
        font-size: 35px;
        color: #fff;
        margin-bottom: 10px;
    }

    &__item-caption {
        @extend %sf-400;
        font-size: 20px;
        color: #fff;
        opacity: 0.3;
        margin-bottom: 30px;
    }

    &__item-text {
        @extend %sf-500;
        font-size: 25px;
        opacity: .7;
        margin-bottom: 30px;

        &:last-child {
            margin-bottom: 0;
        }
    }

    &__text-list {
        .how__item-text {
            margin-top: -20px;
            white-space: preserve-breaks;
        }
    }
}

.sponsors {
    display: flex;
    max-width: 980px;
    height: 50px;
    justify-content: center;
    align-items: center;
    gap: 15px;
    margin-bottom: 115px;

    &__item {
        img {
            border-radius: 50px;
            width: 100%;
            height: 50px;
            object-fit: cover;
            object-position: 50% 50%;
            mix-blend-mode: luminosity;
            opacity: 0.1;
        }
    }
}

// =========================================================================

.earn {
    padding: 80px 0 175px;

    &__title-inner {
        text-align: center;
        margin-bottom: 50px;
    }

    &__subtitle {
        font-size: 25px;
        line-height: 168%;
        opacity: .5;
    }

    &__goal {
        padding: 35px 50px 60px;
        background-color: #071022;
        display: flex;
        gap: 15px;
        align-items: center;
        justify-content: space-between;
        border-radius: 30px;
        margin-bottom: 50px;
    }

    &__goal-wrapper {
        display: flex;
        flex-direction: column;
        gap: 20px;
        max-width: 945px;
    }

    &__inner-title {
        @extend %sf-700;
        font-size: 30px;
        margin-bottom: 20px;
    }

    &__text {
        font-size: 24px;
        color: rgba(255, 255, 255, 0.6);
    }

    &__items {
        display: flex;
        gap: 40px;
    }

    &__item {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 35px 35px 35px 30px;
        gap: 30px;
        border-radius: 30px;

        &--cash {
            background-color: #ff9429;
        }

        &--events {
            background-color: #067ccb;
        }
    }

    &__item-content {
        max-width: 570px;
    }

    &__item-text {
        font-size: 28px;
        opacity: .8;
    }
}

// =================================================================

.why {
    padding: 150px 0 100px;
    background-color: #30298c;
    background-image: url("../images/content/why/web.svg");
    background-repeat: no-repeat;

    &__wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__title-inner {
        max-width: 552px;
    }

    &__title {
        text-align: left;
        margin-bottom: 20px;
    }

    &__title-text {
        font-size: 20px;
        opacity: .6;
        margin-bottom: 60px;
    }

    &__btn {
        padding: 25px 30px;
        background-color: $red-accent;
        font-size: 25px;
        color: #fff;
        @extend %sf-700;
    }

    &__benefits-items {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    &__benefits-item {
        display: flex;
        align-items: center;
        margin-bottom: 50px;
    }

    &__trend-img {
        filter: drop-shadow(0px 5px 5px rgba(0, 0, 0, 0.2)) drop-shadow(0px 8px 10px rgba(0, 0, 0, 0.14));
    }

    &__value-img {
        filter: drop-shadow(0px 5px 5px rgba(0, 0, 0, 0.2)) drop-shadow(0px 8px 10px rgba(0, 0, 0, 0.14));
    }

    &__benefits-content {
        padding-left: 100px;
    }

    &__benefits-title {
        font-size: 30px;
        @extend %sf-700;
        margin-bottom: 10px;
        position: relative;

        &::before {
            content: '';
            position: absolute;
            top: 59px;
            left: -128px;
            transform: translateY(-50%);
            width: 107px;
            height: 107px;
            border-radius: 20px;
            background-color: #fff;
            opacity: 0.1;
        }

        &::after {
            content: '';
            position: absolute;
            transform: translateY(-50%);
            width: 107px;
            height: 107px;
            filter: drop-shadow(0px 5px 5px rgba(0, 0, 0, 0.2)) drop-shadow(0px 8px 10px rgba(0, 0, 0, 0.14));
        }

        &.why__benefits-title--trend::after {
            content: url('../images/content/why/arrow.svg');
            top: 90px;
            left: -106px;
        }

        &.why__benefits-title--value::after {
            content: url('../images/content/why/star.svg');
            top: 90px;
            left: -98px;
        }
    }

    &__benefits-text {
        max-width: 868px;
        font-size: 32px;
        opacity: .8;
    }
}

// =================================================================

.roadmap {
    padding: 70px 0 120px;

    &__title {
        margin-bottom: 50px;
    }

    &__items {
        display: grid;
        grid-template-columns: repeat(2, minmax(300px, 792px));
        column-gap: 40px;
        row-gap: 450px;
        position: relative;
        justify-content: space-between;

        &::before {
            content: '';
            position: absolute;
            width: 2px;
            height: 100%;
            left: 50%;
            top: 120px;
            transform: translate(-50%, 0);
            background-color: #384d70;
        }
    }

    &__item {
        padding: 35px 30px;
        background-color: #384d7033;
        max-width: 792px;
        width: 100%;
        border: 1px solid #ffffff1a;
        border-radius: 30px;
        display: flex;
        gap: 30px;
        align-items: flex-start;
        height: fit-content;
        position: relative;

        &:nth-child(1n) {
            &::before {
                right: -10.4%;
                top: 52%;
            }

            &:nth-child(2n) {
                transform: translate(0, 120%);

                &::before {
                    left: -10.5%;
                }
            }
        }

        &::before {
            content: '';
            position: absolute;
            width: 12px;
            height: 12px;
            border-radius: 50%;
            background-color: rgba(255, 255, 255);
            border: 2px solid #7f7f7f;
            z-index: 2;
        }

        &.roadmap__item--passed {
            &::before {
                background-color: $red-accent;
            }
        }

        &.roadmap__item--success {
            &::after {
                content: '';
                position: absolute;
                width: 2px;
                height: 165%;
                right: -9.8%;
                top: 56%;
                background-color: $red-accent;
            }
        }

        &.roadmap__item--second {
            transform: translate(0, 100%) !important;
        }
    }



    &__number {
        display: flex;
        justify-content: center;
        align-items: center;
        min-width: 138px;
        min-height: 146px;
        background-color: rgba(56, 77, 112, .2);
        border-radius: 30px;
    }

    &__num-inner {
        @extend %sf-700;
        font-size: 65px;
        opacity: .5;
    }

    &__info {
        opacity: .7;
    }

    &__item-title {
        font-size: 30px;
        @extend %sf-500;
        margin-bottom: 20px;
    }

    &__list {
        font-size: 25px;
        list-style: disc;
        padding-left: 22px;
    }

    &__item--active {
        background-color: #384d70;

        .roadmap__number {
            background-color: rgba(255, 255, 255, 0.1);
        }

        .roadmap__num-inner {
            opacity: .7;
        }

        .roadmap__info {
            opacity: 1;
        }
    }
}

// ====================================================================

.team {
    padding: 70px 0 140px;
    background-color: #162344;

    &__title {
        margin-bottom: 60px;
    }

    &__slider {
        margin-bottom: 135px;
    }

    &__item {
        max-width: 350px;
    }

    &__info {
        text-align: center;
    }

    &__img {
        width: 350px;
        height: 337px;
        object-fit: cover;
        object-position: 50% 50%;
        margin-bottom: 20px;
        border-radius: 30px;
    }

    &__name {
        margin-bottom: 13px;
        font-size: 30px;
    }

    &__position {
        @extend %sf-600;
        font-size: 22px;
        opacity: .6;
    }
}

.slick-list {
    margin-bottom: 50px;
}

.slick-track {
    display: flex;
    gap: 10px;
    cursor: grabbing;
}

.slick-dots {
    display: flex;
    justify-content: center;
    gap: 15px;
    font-size: 0;
    & li.slick-active {
        background-color: #f00;
    }
    & li.slick-active button {
        background-color: #f00;
        transform: scale(1.2);
    }
    & button {
        width: 10px;
        height: 10px;
        border-radius: 0;
        border: none;
        background-color: #a2a7b4;
        cursor: pointer;
    }
}

.partners {
    &__title {
        margin-bottom: 40px;
    }
    &__items {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 20px;
    }
    &__img {
        border-radius: 50px;
        opacity: .7;
    }
}

// ============================================================

.token {
    padding: 70px 0 130px;
    background-color: #101d3f;
    &__title {
        margin-bottom: 65px;
    }
    &__wrapper {
        display: grid;
        grid-template-columns: 1fr minmax(350px, 2fr) 1fr;
        justify-content: space-between;
        gap: 20px;
    }
    &__item {
        display: flex;
        flex-direction: column;
        gap: 25px;
        flex-shrink: 2;
    }
    &__info {
        border-radius: 15px;
        background-color: #0000004d;
        padding: 25px 50px 20px 30px;
        max-width: 444px;
    }
    &__caption {
        font-size: 27px;
        @extend %sf-600;
        margin-bottom: 5px;
    }
    &__text {
        opacity: .3;
        font-size: 20px;
    }
    &__line {
        display: block;
        height: 3px;
        margin-bottom: 10px;
        border-radius: 15px;
    }
    &__line-box {
        display: flex;
        gap: 5px;
    }
    &__line--marketing {
        width: 57px;
        background-color: #4e00ff;
    }
    &__line--founders {
        width: 15px;
        background-color: #ff850b;
    }
    &__line--stacked {
        width: 18px;
        background-color: #663090;
    }
    &__line--liquidity {
        width: 90px;
        background-color: #1dbee1;
    }
    &__line--advisors {
        width: 30px;
        background-color: #133d81;
    }
    &__line--p2 {
        width: 45px;
        background-color: #f00;
    }
    &__line--nft {
        width: 45px;
        background-color: #0096f2;
    }
    &__img-box {
        align-self: center;
        justify-self: center;
    }
}

// ========================================================================================

.faq {
    padding: 70px 0 150px;
    &__title {
        margin-bottom: 50px;
    }
    &__items {
        margin: 0 auto;
        max-width: 1036px;
    }
    &__item {
        width: 100%;
        border-radius: 15px;
        background-color: #384d70;
        cursor: pointer;
        margin-bottom: 20px;
    }
    &__caption {
        padding: 25px 35px;
        font-size: 20px;
        @extend %sf-600;
        position: relative;
        & svg {
            position: absolute;
            top: 50%;
            right: 35px;
            transform: translateY(-50%);
            z-index: 3;
            transition: all .3s;
        }
        &::after {
            content: '';
            position: absolute;
            display: block;
            width: 40px;
            height: 40px;
            top: 50%;
            right: 25px;
            transform: translateY(-50%);
            border-radius: 50%;
            opacity: .8;
            background-color: $red-accent;
            transition: all .3s;
        }
        &:hover::after {
            background-color: $button-hover;
        }
        &:hover svg {
            transform: rotate(180deg) translateY(52%);
        }
    }
    &__caption--active+.faq__wrapper {
        display: block;
        border-top: 1px solid #101932;
    }
    &__caption--active svg {
        transform: rotate(180deg) translateY(52%);
    }
    &__caption--active::after {
        background-color: $button-hover;
    }
    &__wrapper {
        display: none;
        padding: 25px 35px;
        border-top: 1px solid #101932;
    }
    &__text {
        max-width: 1000px;
    }
}

// =============================================================================

.community {
    padding: 60px 0 105px;
    background-color: #162758;
    background-image: url("../images/content/community/community-bg.svg");
    background-repeat: no-repeat;
    background-position: 50% 70%;
    &__title {
        margin-bottom: 110px;
    }
    &__socials {
        margin-bottom: 80px;
    }
    &__socials-list {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 40px;
    }
    &__socials-link {
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 15px;
        padding: 30px 27px;
        background-color: $red-accent;
        &:hover {
            background-color: $button-hover;
            transition: all .3s;
        }
    }
    &__image,
    &__contact {
        width: fit-content;
        margin: 0 auto;
    }
    &__image {
        margin-bottom: 50px;
    }
    &__contact {
        max-width: 700px;
        background-color: #0000004d;
        padding: 23px 56px;
        border-radius: 50px;
    }
    &__address {
        @extend %sf-500;
        font-size: 15px;
        opacity: .4;
        margin-bottom: 5px;
    }
    &__address-num {
        font-size: 25px;
        opacity: .8;
    }
}

// ==============================================================================================

.footer {
    padding: 40px 0;
    background-color: #0d1428;
    &__copy {
        font-size: 20px;
        opacity: .4;
        text-align: center;
    }
}

@import 'media';